<!DOCTYPE html>
        <html ng-app="exampleApp" >
        <head>
            <title>Forms</title>
            <script src="bower_components/angular/angular.js"></script>
            <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
            <link href="bower_components/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
            <script>
                angular.module("exampleApp", [])
                        .controller("defaultCtrl", function($scope){
                            var vm = this;

                            vm.todos = [
                                { action: "Get groceries", complete: false  },
                                { action: "Call plumber", complete: false },
                                { action: "Buy running", complete: true },
                                { action: "Buy flowers", complete: false },
                                { action: "Call family", complete: false}
                            ];

                            vm.addNewItem = function(newItem){
                                if(angular.isDefined(newItem) && angular.isDefined(newItem.action)&&angular.isDefined(newItem.location)) {
                                    vm.todos.push({
                                        action: newItem.action + " (" + newItem.location + ")", complete: false

                                    });
                                }else{
                                    alert("Aloja");
                                }
                            };

                            vm.buttonNames = ["Red", "Green", "Blue"];

                            vm.data = { rowColor: "Blue", columnColor: "Green"};

                            vm.handleEvent = function(e){
                                vm.data.columnColor = e.type == "mouseover" ? "Green" : "Blue";
                            };



                            vm.viewFile = function(){
                                return vm.showList ? "list.html" : "table.html";
                            };

                            vm.reportChange = function(){
                                console.log("Displayed content: "+ vm.viewFile());
                            }

                        })
                        .controller("TestCtrl", function($scope, $location){
                            var vm = this;

                            vm.message = "Tap me";
                        })
                        .controller("UserCtrl", function(){
                            var vm = this;

                            vm.addUser = function(userDetail) {
                                if(myForm.$valid){
                                    vm.message = userDetail.name + " (" + userDetail.email + " ) (" + userDetail.agreed + ")";
                                }else{
                                    vm.showValidation = true;
                                }

                            };

                            vm.message = "Ready";

                            vm.getError = function(error){
                                if(angular.isDefined(error)){
                                    if(error.required){
                                        return "Please enter a value";
                                    }else if(error.email){
                                        return "Please enter a valid email address";
                                    }
                                }
                            }
                        })
                        .directive("tap", function(){
                            return function (scope, elem, attrs){
                                elem.on("click", function(){
                                    scope.$apply(attrs["tap"]);
                                })
                            }
                        });
            </script>
            <style>
                .Red{ background-color: lightcoral; }
                .Green{ background-color: lavenderblush; }
                .Blue{ background-color: lightblue; }
                form .ng-invalid.ng-dirty{ background-color: lightpink;}
                form .ng-valid.ng-dirty{background-color: lightgreen;}
                span.summary.ng-invalid{color: red; font-weight: bold;}
                span.summary.ng-valid{color: red; font-weight: bold;}
                div.error{color: red; font-weight: bold;}
                form.validate .ng-invalid-required.ng-dirty{background-color: lightpink}
                form.validate .ng-invalid-email.ng-dirty{background-color: lightgoldenrodyellow}
            </style>
        </head>
        <body>
            <div id="todoPanel" class="panel" ng-controller="UserCtrl as uc">
                <form name="myForm" novalidate ng-submit="uc.addUser(newUser)" ng-class="uc.showValidation ? 'validate': ''">
                    <div class="well">
                        <div class="form-group">
                            <label>Name: </label>
                            <input name="userName" type="text" class="form-control" required ng-model="newUser.name">
                        </div>
                        <div class="form-group">
                            <label>E-mail: </label>
                            <input name="userEmail" type="email" class="form-control" required ng-model="newUser.email">
                            <div class="error" ng-show="uc.showValidation">
                                {{uc.getError(myForm.userEmail.$error)}}
                            </div>
                        </div>
                        <div class="checkbox">
                            <label><input name="agreed" type="checkbox" ng-model="newUser.agreed" required>I agree to the terms and conditions </label>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block" ng-disabled="myForm.$invalid">
                            OK
                        </button>
                    </div>
                    <!--div class="well">
                        Message: {{uc.message}}
                        <div>
                            Valid: <span class="summary" ng-class="myForm.$valid? 'ng-valid':'ng-invalid'">{{myForm.$valid}}</span>
                        </div>
                    </div-->

                </form>
            </div>
        </body>
</html>
